a.detail{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    background: #4682B4;
}

.detail-transaksi{
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}

.transaksi{
    margin-left: 300px;
    padding-top: -50px;
}

.detail-transaksi .transaksi button.proses{
    padding: 20px;
    background: yellow;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.detail-transaksi .transaksi button.dikirim{
    padding: 20px;
    background: #4682B4;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.detail-transaksi .transaksi button.ditolak{
    padding: 20px;
    background: red;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.informasi{
    margin-top: 20px;
    width: 100%;
    background: #ffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.informasi h2{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -20px;
}

.informasi p{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
}

th, td{
    text-align: left;
    padding: 10px;
}

a.detail{
    padding: 10px;
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 5px;
    background: #4682B4;
}

a.detail:hover{
    padding: 10px;
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 5px;
    background: #326792;
}

.foto{
    padding-top: 100px;
}