body{
    background: #DCD6F7;
}

.judul{
    text-align: center;
}

.container{
    width: 400px;
    height: 370px;
    background: #F4EEFF;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
}

h3{
    line-height: 2px;
}

.form-control{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #00ADB5;
    color: #fff;
    cursor: pointer;
}

button:hover{
    border-radius: 5px;
    background: #4682B4;
    color: #fff;
    transition: 0.2s;
}

.register{
    text-align: center;
    margin-top: 8px;
}

.register a{
    text-decoration: none;
    color: #212172;
}